---
import Layout from "../layouts/Layout.astro";
 

 
 
 
 
 
 ---
 
 <Layout title="Projects">
 
    <div class="container mx-auto p-8">
        <h1 class="text-6xl font-bold text-purple-500">My Projects</h1>
        <p class="text-xl mt-2">Works and personal projects.</p>
        <p class="mt-4">I always enjoy working on personal projects, and these are some of the ones I have done over time.</p>
        
        <div class="mt-10">
            <h2 class="text-3xl font-bold">Finished</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-6">
                <!-- Landing Page Project -->
                <div class="bg-orange-500 rounded-lg p-6">
                    <h3 class="text-2xl font-bold">Landing Page</h3>
                    <img src="https://raw.githubusercontent.com/raulabadt/portfolio/main/public/assets/home.png
        " alt="Landing Page" class="mt-4 rounded-lg">
                </div>
                <!-- Story Teller Project -->
                <div class="bg-blue-500 rounded-lg p-6">
                    <h3 class="text-2xl font-bold">Story Teller</h3>
                    <img src="your-image-url-2.jpg" alt="Story Teller" class="mt-4 rounded-lg">
                </div>
                <div class="bg-blue-500 rounded-lg p-6">
                    <h3 class="text-2xl font-bold">Story Teller</h3>
                    <img src="your-image-url-2.jpg" alt="Story Teller" class="mt-4 rounded-lg">
                </div>
                <!-- Landing Page Project -->
                <div class="bg-orange-500 rounded-lg p-6">
                    <h3 class="text-2xl font-bold">Landing Page</h3>
                    <img src="your-image-url-1.jpg" alt="Landing Page" class="mt-4 rounded-lg">
                </div>
               
            </div>
        </div>
    </div>
 
 

    
 
  
         
 </Layout>