---
import Layout from "../layouts/Layout.astro";
 

 
 
 
 
 
 ---
 
 <Layout title="Projects">
 
    <div class="container mx-auto p-8">
        <h1 class="text-6xl font-bold text-purple-500">My Projects</h1>
        <p class="text-xl mt-2">Works and personal projects.</p>
        <p class="mt-4">I always enjoy working on personal projects, and these are some of the ones I have done over time.</p>
        
        <div class="mt-10">
            
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-6">
                
                <div >
                    
                    <img src="https://raw.githubusercontent.com/raulabadt/portfolio/main/public/assets/home.png" class="mt-4 rounded-lg">
                </div>
                
                <div >
                    
                    <img src="https://raw.githubusercontent.com/raulabadt/portfolio/main/public/assets/take_away.png" class="mt-4 rounded-lg">
                </div>
                <div >
                    <img src="https://raw.githubusercontent.com/raulabadt/portfolio/main/public/assets/menu.png" class="mt-4 rounded-lg">
                </div>
                
                <div >
                    <img src="https://raw.githubusercontent.com/raulabadt/portfolio/main/public/assets/reserva.png" class="mt-4 rounded-lg">
                </div>
               
            </div>
        </div>
    </div>
 
 

    
 
  
         
 </Layout>