---
import Layout from "../layouts/Layout.astro";
 

 
 
 
 
 
 ---
 
 <Layout title="Projects">
 
    <div class="container mx-auto p-8">
        <h2 class="text-6xl font-bold text-black/80 dark:text-white/80">My Personal Project</h2>
        <p class="text-xl lg:text-2xl mt-10">This is my biggest personal project under construction, developed in Laravel and Tailwind, in which I set up a website for any restaurant with a CPanel to keep track of reservations, menus...</p>
        
        <div class="mt-10">
            <h2 class="text-3xl font-bold">Frontend</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-6">
                
                <div  class="bg-blue-500 rounded-lg p-6">
                    <h3 class="text-2xl font-bold">Homepage</h3>
                    <img src="https://raw.githubusercontent.com/raulabadt/portfolio/main/public/assets/home.png" class="mt-4 rounded-lg">
                </div>
                
                <div class="bg-blue-500 rounded-lg p-6">
                    <h3 class="text-2xl font-bold">Menu</h3>
                    <img src="https://raw.githubusercontent.com/raulabadt/portfolio/main/public/assets/menu.png" class="mt-4 rounded-lg">
                </div>
                <div class="bg-blue-500 rounded-lg p-6">
                    <h3 class="text-2xl font-bold">Reserve</h3>
                    <img src="https://raw.githubusercontent.com/raulabadt/portfolio/main/public/assets/reserva.png" class="mt-4 rounded-lg">
                </div>
                
                <div  class="bg-blue-500 rounded-lg p-6">
                    <h3 class="text-2xl font-bold">Take Away</h3>
                    <img src="https://raw.githubusercontent.com/raulabadt/portfolio/main/public/assets/take_away.png" class="mt-4 rounded-lg">
                </div>
               
            </div>
        </div>

        <div class="mt-10">
            <h2 class="text-3xl font-bold">Backend</h2>
            <div class="grid grid-cols-1 md:grid-cols-1 gap-8 mt-6">
                
                <div  class="bg-blue-500 rounded-lg p-6">
                    <h3 class="text-2xl font-bold">CPanel</h3>
                    <img src="https://raw.githubusercontent.com/raulabadt/portfolio/main/public/assets/cpanel.png" class="mt-4 rounded-lg">
                    
                </div>            
               
            </div>
        </div>
    </div>
 
 

    
 
  
         
 </Layout>