---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "June 2024 – Now",
    title: "Full-Stack Developer · NeuronUP",
    description:
      "Development and maintenance of the NeuronUP product using Symfony and Angular. Design and implementation of REST APIs, creation of custom console commands to help admin users manage the platform, and continuous improvement of usability and performance.",
  },
  {
    date: "October 2023 – December 2023",
    title: "Full-Stack Developer · Tefipro Industria 4.0",
    description:
      "Creation of custom forms from scratch with PHP, HTML and Bootstrap. PLC automation using Node-RED in JavaScript and maintenance of industrial products built with Node.js. Automation of coordinate formatting in databases with Python scripts.",
  },
  {
    date: "September 2020 - March 2023",
    title: "Drupal Backend Developer · NTT DATA",
    description:
      "Backend development for international projects such as ESMA, ERC, UNDRR and UN-NEWS using Drupal 7, 8 and 9. Implementation of custom modules and APIs, full site building, environment setup with Docker on Linux and documentation in English and Spanish. Technologies used: PHP 7.4/8.1, Symfony, JavaScript, HTML5, MySQL, CSS and YML templates.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>