<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <nav class="flex flex-col items-center justify-between w-full text-center sm:flex-row">
        <a href="/portfolio/about" class="text-white mr-6 border-b-2 border-transparent border-b-2 font-extrabold text-2xl  border-transparent font-extrabold text-2xl hover:border-white">About</a>
        <a href="/portfolio/skills" class="text-white mr-6 border-b-2 border-transparent border-b-2 font-extrabold text-2xl  border-transparent font-extrabold text-2xl hover:border-white">Skills</a>
        <a href="/portfolio/experience" class="text-white mr-6 border-b-2 border-transparent border-b-2 font-extrabold text-2xl  border-transparent font-extrabold text-2xl hover:border-white">Experience</a>
        <a href="/portfolio/contacts" class="text-white mr-6 border-b-2 border-transparent border-b-2 font-extrabold text-2xl  border-transparent font-extrabold text-2xl hover:border-white">Contacts</a>
    </nav>
</header>
