interface Props {
  checkActive?: boolean;
  href: string;
  className?: string; // Renombrado "class" a "className"
}

const { currentLocale = "es" } = Astro;
const { href, className, checkActive = true, ...restOfProps } = Astro.props;

const LOCALES: Record<string, { code: string; baseHref: string }> = {
  ca: {
    code: "ca",
    baseHref: "/ca",
  },
  es: {
    code: "es",
    baseHref: "",
  },
};

const baseHref = LOCALES[currentLocale].baseHref;

const currentPath = Astro.url.pathname;
const destination = `${baseHref}${href}`;
const isActive = currentPath === destination && checkActive;

<a
  href={destination}
  className={`
    ${className} border-b-2 font-extrabold text-2xl 
    ${isActive ? "border-white font-extrabold text-2xl" : "border-transparent font-extrabold text-2xl"}
  `}
  {...restOfProps}
>
  <slot />
</a>;
